.main {
  max-width: 100%;

  display: grid;
  grid-template-areas:
    "greet greet"
    "searchbarLayout searchbarLayout"
    "feed feed";
}

.greet {
  grid-area: greet;
}

.searchbar input {
  padding: 10px;
}

.searchbar,
.searchbar input {
  width: 300px;
}

.feed {
  grid-area: feed;
}

.searchbarLayout {
  grid-area: searchbarLayout;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
