.menu {
  display: grid;
  grid-template-areas:
    "headline headline"
    "edit preview";
  column-gap: 50px;
}

.menu > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu h2 {
  text-align: center;
  grid-area: headline;
}
