.spoiler {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  color: black; /* Warna tulisan di tombol */
  cursor: pointer;
  width: 100%;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: left;
  pointer-events: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  height: 0;
  width: 100%;
}
.show {
  visibility: visible;
  opacity: 1;
  height: auto;

  transition: all 0.5s ease;
}
