.Layout {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas: ". main .";

  text-align: center;
}

main {
  grid-area: main;
}

.text-left {
  text-align: left;
}

a {
  color: grey;
}

.list {
  display: grid;

  grid-template-columns: auto;
  row-gap: 20px;
}

.center-list {
  width: fit-content;
  margin: auto;
}

.list.px5 {
  row-gap: 5px;
}

.column-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  column-gap: 20px;
}

.text-center {
  text-align: center;
}

.my-10 {
  margin: 10px 0;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.my-20 {
  margin: 20px 0;
}

.my-40 {
  margin: 40px 0;
}
