.App {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.App > * {
  margin: 10px;
}

.tag {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 4px;
  font-size: 2ch;
  margin-right: 2px;
}
