.Layout {
  padding-top: 5vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "navbar navbar navbar"
    ". main .";
  text-align: center;
  min-height: 100vh;
  background-color: white;
  z-index: -1;
}

.navbar {
  grid-area: navbar;
}

main {
  grid-area: main;
}

.text-left {
  text-align: left;
}

a {
  color: grey;
}

.list {
  display: grid;

  grid-template-columns: auto;
  row-gap: 20px;
  padding: 5% 0;
}

.center-list {
  width: fit-content;
  margin: auto;
}

.list.px5 {
  row-gap: 1.25%;
}

.column-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  column-gap: 5%;
}

.text-center {
  text-align: center;
}

.my-10 {
  margin: 10px 0;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.my-20 {
  margin: 20px 0;
}

.my-40 {
  margin: 40px 0;
}

.selected {
  background-color: black;
  color: white;
}

button {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  border-radius: 4px;
  font-weight: bold;
}

.load {
  font-weight: bold;
  font-size: 5ch;
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.flex-left {
  display: flex;
}

.box-shadow {
  width: fit-content;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;

  column-gap: 20px;
  row-gap: 20px;
}

.p-5 {
  padding: 5%;
}

.p-2 {
  padding: 0.05%;
}

.relative {
  position: relative;
}

#combobox {
  padding: 0px;
}
