.tagsAndOptions {
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.friendly {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.unfriendly {
  margin-left: 20px;
}

.tag {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 4px;
  font-size: 1ch;
  margin-right: 2px;
}

.icon {
  width: 30px;
  height: 30px;
}
