.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  text-align: left;
}

.table {
  text-align: left;
}

.table tr,
td {
  margin: 0px;
  padding: 0px;
}

.table h4 {
  margin: 5px;
}

.underline {
  text-decoration: underline;
}
