.nav {
  position: fixed;
  display: grid;

  grid-template-columns: auto 1fr auto;
  grid-template-areas: "pages headline actions";

  text-align: right;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: white;
  place-items: center;
}

.headline {
  grid-area: headline;
  text-align: center;
  margin: auto;
}

.pages {
  grid-area: pages;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.actions {
  grid-area: actions;
  display: flex;
  justify-content: flex-end;
}
