.nav {
  display: grid;

  grid-template-columns: 9vw auto 1fr auto 9vw;
  grid-template-areas: ". pages headline actions .";

  text-align: right;
  width: 100%;
  background-color: white;
  place-items: center;
  margin: 0;
}

.headline {
  grid-area: headline;
  text-align: center;
  margin: auto;
}

.pages {
  grid-area: pages;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.actions {
  grid-area: actions;
  display: flex;
  justify-content: flex-end;
}
