.feed {
  margin: auto 0;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

@media screen and (max-width: 1440px) {
  .feed {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 920px) {
  .feed {
    grid-template-columns: auto;
    column-gap: 0px;
  }
}
