.resource {
  width: 400px;
  text-align: left;
  margin: 5px;
  margin-left: 0px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resourceBody {
  width: 100%;
}

.resourceBody h4 {
  margin: 5px;
  margin-left: 0;
  font-size: 0.8em;
  color: black;
}

.resourceBody a {
  color: grey;
}

.imgContainer {
  width: 400px;
  height: 300px;
  text-align: center;
  border: 1px solid black;
}

.preview {
  max-width: 400px;
  max-height: 300px;
  min-width: 10px;
  min-height: 10px;
}
