.resource {
  max-width: 600px;
  text-align: left;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resourceBody {
  width: 100%;
}

.resourceBody h4 {
  margin: 5px;
  margin-left: 0;
  font-size: 0.8em;
  color: grey;
}

.resourceBody a {
  color: black;
}

.imgContainer {
  width: 100%;
  text-align: center;
}

.preview {
  max-width: 400px;
  max-height: 600px;
  min-width: 10px;
  min-height: 10px;
}

.postInfo {
  font-size: 1em;
  height: 2em;
}

.tagsAndOptions {
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.friendly {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.unfriendly {
  margin-left: 20px;
}

.tag {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 4px;
  font-size: 1ch;
  margin-right: 2px;
}

.icon {
  width: 30px;
  height: 30px;
}

.likeButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  text-shadow: 1px 1px black;
  margin-left: 10px;
  outline: none;
}

.likeButton::before {
  z-index: -1;
  font-size: 3em;
  color: #000;
  content: "♥";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.liked::after {
  z-index: -1;
  font-size: 3em;
  color: red;
  content: "♥";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1s;
}
.liked::after {
  transform: translate(-50%, -50%) scale(1.1);
}
