.resource {
  width: 400px;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 1px;
}

.resourceBody {
  width: 100%;
}

.resourceBody h2 {
  margin-bottom: 0;
}

.resourceBody h4 {
  margin: 5px;
  margin-left: 0;
  font-size: 0.8em;
  color: black;
}

.resourceBody a {
  color: grey;
}

.socialAttributes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialAttributes h3 {
  margin: 0;
}
