.cached {
  width: 400px;
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
}

.lined {
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: 25% 10fr 10fr 15fr 10fr;
  column-gap: 5px;
  padding: 10px;
}

.width {
  width: 100%;
}
