.cached {
  width: 400px;
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
}

.lined {
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: 20vw 10vw 20vw 7vw 15vw;
  column-gap: 5px;
  padding: 2%;
}
