.cached {
  width: 400px;
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
}

.lined {
  text-align: left;
  display: grid;
  grid-template-columns: minmax(200px, 40%) 200px minmax(200px, 40%) 200px 200px;
  padding: 2%;
}
