.normal h2 {
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
  max-width: 40vw;
  word-wrap: break-word;
}

.normal h2 a {
  color: black;
}

.normal h4 {
  padding: 0;
  margin: 0;
  color: black;
}

.normal button {
  margin: 0;
  padding: 5px;
  width: 40px;
  color: yellow;
  background-color: black;
  height: 40px;
  margin-right: 5px;
}

.lined .normal button {
  width: 30px;
}
