.normal h2 {
  padding: 0;
  margin: 0;
  color: black;
  text-decoration: none;
  max-width: 40vw;
  word-wrap: break-word;
}

.normal h2 a {
  color: black;
}

.normal h4 {
  padding: 0;
  margin: 0;
  color: black;
}
