.main {
  max-width: 100%;

  display: grid;
  grid-template-areas:
    "greet greet"
    "search search"
    "feed feed";
}

.greet {
  grid-area: greet;
}

.searchbar {
  grid-area: search;
  margin-top: auto;
  margin-left: auto;
}

.searchbar,
.searchbar input {
  width: 300px;
}

.feed {
  grid-area: feed;
}
