.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createResource {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.thread {
  display: flex;
  flex-direction: column;
  align-items: left;
}
