.postInfo {
  font-size: 1em;
  height: 2em;
}

.likeButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  text-shadow: 1px 1px black;
  margin-left: 10px;
  outline: none;
}

.notLiked::before {
  color: #000;
  content: "🤟";

  transform: translate(-50%, -50%);
}
.liked::after {
  color: red;
  content: "✌️";

  transform: translate(-50%, -50%) scale(0);
}

.notLiked::before,
.liked::after {
  z-index: -1;
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
}

.liked::after {
  transform: translate(-50%, -50%) scale(1.1);
}
